/*  
  Table of content
    1. css selectos
    2. global
    3. css varaible
    4. nav
      4.1. nav typograph
    5. banner
    6. layout
    7. right content
      7.1. typograph of right content
      7.2. img right content
      7.3. content main strcuture
    8. content main strcuture
      8.1 img main strcuture 
      8.2 typograph main strcuture 
    9. footer

*/

/*============
  1. css selectors
  ============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: 19px;
}
/*=========
  2. global
  =========*/
body {
  background-color: #d9dcd6;
}

/*============
  3. css varaible
  ============*/
:root {
  --font-white: #ffffff;
  --background-color-nav: #2a607c;
  --background-color-main: #0072bb;
  --background-color-right: #2589bd;
  --font-fam-main: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  --font-footer: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/*============
  4. nav
  ============*/

.header {
  padding: 20px;
  width: 100%;

  background-color: var(--background-color-nav);
  color: var(--font-white);
  padding-top: 15px;
  font-family: var(--font-fam-main);
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*============
  4.1. nav typograph 
  ============*/

.header h1 {
  /* display: inline-block; */
  font-size: 48px;
}

.header h1 .seo {
  color: #d9dcd6;
}

.header ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

a {
  color: var(--font-white);
  text-decoration: none;
}

/*============
  5. banner
  ============*/
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("/images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

/*============
  6. layout
  ============*/
.content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.main {
  width: 80%;
  /*display: inline-block;
  margin-left: 20px; */
}

.right-content {
  width: 20%;
  padding: 20px;
  height: 100%;
  font-family: var(--font-fam-main);
  background-color: var(--background-color-right);
}

/*============
  7. right content 
============*/

.benfit-section,
.brandAwareness-section,
.costManagement-section {
  margin-bottom: 32px;
  color: var(--font-white);
}

/*============
  7.1 typograph of right content
============*/

.benfit-section h3,
.brandAwareness-section h3,
.costManagement-section h3 {
  margin-bottom: 10px;
  text-align: center;
}

/*============
  7.2 img right content
============*/

.benfit-section img,
.brandAwareness-section img,
.costManagement-section img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/*============
  8. content main strcuture
============*/

.search-engine-optimization,
.social-media-marketing,
.online-reputation-management {
  margin-bottom: 20px;
  /* padding: 50px; */
  padding: 30px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-fam-main);
  background-color: var(--background-color-main);
  color: var(--font-white);
  margin-right: 25px;
}

/*============
  8.1 img main strcuture 
============*/
.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img {
  max-height: 200px;
  margin-right: 20px;
}

/*============
  8.2 typograph main strcuture 
============*/
.search-engine-optimization h2,
.online-reputation-management h2,
.social-media-marketing h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/*============
  9. footer
============*/
.footer {
  padding: 30px;
  clear: both;
  font-family: var(--font-footer);
  text-align: center;
}

.footer h2 {
  font-size: 20px;
}
